コメントやコミットメッセージはすべて日本語で記述する。

Composeの記述は以下のルールに従う。
https://github.com/androidx/androidx/blob/androidx-main/compose/docs/compose-api-guidelines.md

private/internalをできる限り使用し、最小限のアクセスに絞ること。

@Suppressの使用は禁止

コードでやってることをそのまま説明するだけのコメントは禁止。複雑な関数のドキュメントコメントだけ許可する。
