<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="net.matsudamper.folderviewer.TextViewerActivity"
            android:exported="true"
            android:label="@string/text_viewer_default_title"
            android:theme="@style/Theme.TextViewer">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="text/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/json" />
                <data android:mimeType="application/ld+json" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="application/javascript" />
                <data android:mimeType="application/x-javascript" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/x-sh" />
                <data android:mimeType="application/yaml" />
                <data android:mimeType="application/x-yaml" />
                <data android:mimeType="application/x-httpd-php" />
            </intent-filter>
        </activity>
    </application>

</manifest>
