name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      DEBUG_KEYSTORE_FILE: debug.keystore

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Decode debug keystore
        env:
          DEBUG_KEYSTORE_BASE64: ${{ secrets.DEBUG_KEYSTORE_BASE64 }}
        run: echo "$DEBUG_KEYSTORE_BASE64" | base64 -d > debug.keystore

      - name: Build with Gradle
        run: ./gradlew assembleDebug ktlintCheck detekt

      - name: Upload APK
        uses: actions/upload-artifact@v6
        with:
          name: debug-apk
          path: app/build/outputs/apk/debug/*.apk
